#nav-main{
	heigth:10rem;
	heigth:auto;
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	position:fixed;
	z-index:1;
	#menu{
		list-style:none;
		li{
			display: inline-block;
			&:hover{
				background:red;
			}
			.sub-menu{
				display:none;
			}
		}
	}
}
