#nav-main{
	width:100%;
	display:flex;
	justify-content:center;
	align-items:center;
	position:fixed;
	z-index:1;
	background:rgba(235,235,235,0.7);
	text-transform:uppercase;
	color:white;
	height: 5rem;
	top:0;
	.logo{
		img{
			width:5rem;
		}
	}
	#menu{
		padding:0;
		margin:0;
		list-style:none;
		li{
			a{
				color:black;
				display:block;
				text-decoration:none;
				border-bottom: 1px solid transparent;
				border-bottom-width: 100%;
				&:hover{
					border-color: gray;
					 transition:  all ease-in-out .4s;
				}
			}
			position:relative;
			padding:0.5rem;
			display: inline-block;
			&:hover{
				background:white;
			}
			
		}
		.menu-item-has-children{
			.sub-menu{
				margin:0;
				padding:0;
				position:absolute;
				display:none;
				left:0;
				border: 1px solid gray;
				background:rgb(221,221,221);
				.sub-menu-item{
					display:block;
				}
			}
		}
	}
	@media(max-width:768px) {
		display:none;
	}
}
