.slider{
	.slide{
		position:relative;
		.mask{
		
		p{
			display:flex;
			justify-content: center;
			align-items:center;
			color:white;
			font-size:5rem;
			height:100%;
			position: absolute;
			width:100%;
		}
	}

	}
	
	img{
		width:100%;
	}
}
.pruebas-wrap{
	.prueba{
		.slick-arrow{
			position:absolute;
			height: 2rem;
			top:0;
			bottom:0;
			margin:auto;
		}
		.slick-prev{
			left:5%;
		}
		.slick-next{
			left:95%;
		}
		.pruebas{
			display: flex;
			height: 100vh;
			align-items:center;
			justify-content: center;
			flex-direction: column;
		}
	}
}
.quienes{
	overflow:hidden;
	height:7rem;
	border: 1px solid black;
	box-shadow:0 5px gray;
	h1{
		text-transform: uppercase;
		text-align:center;
	}
	.flecha-abajo{
		text-align:center;
	}
	.svg-inline--fa.fa-w-10{
		width:100%;
	}
	.quienes-conte{
		padding:1.5rem;
	}
}
.comprimido{
	height:auto;
}
.noticias{
	padding-top:5px;
	.row{
			#content{
				border: 1px solid black;
				box-shadow: 0 5px gray;

				.container{
					box-shadow: 0 2px black;
					padding:1rem 0;

					.boton-noticias{
						color:red;
					}
				}
				.titul-secc{
					text-align:center;
					text-transform: uppercase;		
				}			
			}
		}
	}
.parallax{
	background-image:url('../img/para2.jpg');
    background-attachment: fixed;
    height: 100vh;
    background-position: center;
    background-size:cover;
    .para-conte{
    	display:flex;
    	justify-content:center;
    	align-items:center;
    	height:100%;
    	flex-direction:column;
    	position:relative;
    	.container{
    		.lista-aporte{
    			font-size:1.5rem;
    			margin: 0 6rem;
    			color:white;
    			span{
    				font-weight:bold;
    			}
    		}
    	}
    	.mask{
    		position:absolute;
    		left:0;
    		top:50%;
    		width:100%;
    		color:rgba(gray,0.5);
    	}
    	h1{
    		color: white;
    		text-transform:uppercase;
    	}
    	p{
    		color:white;
    		font-weight:bold;
    	}
    }
}
