#nav-main{
	position: relative;
}
h1{
	text-transform: uppercase;
	color:black;
}
a{
	color:salmon;
}
#contenido{
	h1{
		text-align: center;
		color: green;
		margin: 2rem;
	}
	img{
		width: 80%;
		height: auto;
	}
	p{
		margin: 2rem;
	}
	
}
