h1 {
  text-transform: uppercase;
  color: gainsboro;
}

a {
  color: salmon;
}

#contenido h1 {
  text-align: center;
  color: green;
  margin: 2rem;
}

#contenido img {
  width: 80%;
  height: auto;
}

#contenido p {
  margin: 2rem;
}
